/* ================== navbar ================== */

.navbar {
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 100vw;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
    z-index: 99;
}

.logo {
    padding-left: 2vw;
}



a {
    display: flex;    
    margin-left: 2rem;
    gap: 1rem;
    align-items: left;
    position: relative;
    transition: all 200ms ease;
}

a:last-child {
    position: absolute;
    right: 10vw;
}

a:hover {
    color: var(--color-primary);
    cursor: pointer;
}
